<footer class="{{ page.class }}" style="background-image: url({{# page.image }}{{site.url}}{{ page.image }}{{/ page.image }} {{^ page.image }}{{site.url}}{{ site.cover }}{{/ page.image }});{{# page.background_position }} background-position: {{ page.background_position }};{{/ page.background_position }}height: 40%; min-height: 250px;">
  <div id="nav-icon" style="top: 25px;">
		<a class="scroll" data-speed="1000" href="#article">
      <span class="genericon genericon-collapse"></span>
    </a>
	</div>
</footer>
